## Preprocessing

In [1]:
# Import our dependencies
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
import pandas as pd
import tensorflow as tf

#  Import and read the charity_data.csv.
import pandas as pd 
application_df = pd.read_csv("https://static.bc-edx.com/data/dl-1-2/m21/lms/starter/charity_data.csv")
application_df.head()

2024-01-30 13:23:54.625851: I tensorflow/core/platform/cpu_feature_guard.cc:182] This TensorFlow binary is optimized to use available CPU instructions in performance-critical operations.
To enable the following instructions: AVX2 AVX512F AVX512_VNNI FMA, in other operations, rebuild TensorFlow with the appropriate compiler flags.

,EIN,NAME,APPLICATION_TYPE,AFFILIATION,CLASSIFICATION,USE_CASE,ORGANIZATION,STATUS,INCOME_AMT,SPECIAL_CONSIDERATIONS,ASK_AMT,IS_SUCCESSFUL
0,10520599,BLUE KNIGHTS MOTORCYCLE CLUB,T10,Independent,C1000,ProductDev,Association,1,0,N,5000,1
1,10531628,AMERICAN CHESAPEAKE CLUB CHARITABLE TR,T3,Independent,C2000,Preservation,Co-operative,1,1-9999,N,108590,1
2,10547893,ST CLOUD PROFESSIONAL FIREFIGHTERS,T5,CompanySponsored,C3000,ProductDev,Association,1,0,N,5000,0
3,10553066,SOUTHSIDE ATHLETIC ASSOCIATION,T3,CompanySponsored,C2000,Preservation,Trust,1,10000-24999,N,6692,1
4,10556103,GENETIC RESEARCH INSTITUTE OF THE DESERT,T3,Independent,C1000,Heathcare,Trust,1,100000-499999,N,142590,1

In [2]:
# Drop the non-beneficial ID columns, 'EIN' and 'NAME'.
application_df.drop(['EIN', 'NAME'], axis =1)

,APPLICATION_TYPE,AFFILIATION,CLASSIFICATION,USE_CASE,ORGANIZATION,STATUS,INCOME_AMT,SPECIAL_CONSIDERATIONS,ASK_AMT,IS_SUCCESSFUL
0,T10,Independent,C1000,ProductDev,Association,1,0,N,5000,1
1,T3,Independent,C2000,Preservation,Co-operative,1,1-9999,N,108590,1
2,T5,CompanySponsored,C3000,ProductDev,Association,1,0,N,5000,0
3,T3,CompanySponsored,C2000,Preservation,Trust,1,10000-24999,N,6692,1
4,T3,Independent,C1000,Heathcare,Trust,1,100000-499999,N,142590,1
...,...,...,...,...,...,...,...,...,...,...
34294,T4,Independent,C1000,ProductDev,Association,1,0,N,5000,0
34295,T4,CompanySponsored,C3000,ProductDev,Association,1,0,N,5000,0
34296,T3,CompanySponsored,C2000,Preservation,Association,1,0,N,5000,0
34297,T5,Independent,C3000,ProductDev,Association,1,0,N,5000,1
34298,T3,Independent,C1000,Preservation,Co-operative,1,1M-5M,N,36500179,0

In [4]:
# Determine the number of unique values in each column.
application_df.nunique(axis=0)

EIN                       34299
NAME                      19568
APPLICATION_TYPE             17
AFFILIATION                   6
CLASSIFICATION               71
USE_CASE                      5
ORGANIZATION                  4
STATUS                        2
INCOME_AMT                    9
SPECIAL_CONSIDERATIONS        2
ASK_AMT                    8747
IS_SUCCESSFUL                 2
dtype: int64

In [5]:
# Look at APPLICATION_TYPE value counts for binning
counts = application_df.value_counts(application_df.APPLICATION_TYPE)
counts

APPLICATION_TYPE
T3     27037
T4      1542
T6      1216
T5      1173
T19     1065
T8       737
T7       725
T10      528
T9       156
T13       66
T12       27
T2        16
T14        3
T25        3
T29        2
T15        2
T17        1
dtype: int64

In [6]:
# Choose a cutoff value and create a list of application types to be replaced
# use the variable name `application_types_to_replace`
application_types_to_replace = list(counts[counts<500].index)

# Replace in dataframe
for app in application_types_to_replace:
    application_df['APPLICATION_TYPE'] = application_df['APPLICATION_TYPE'].replace(app,"Other")

# Check to make sure binning was successful
application_df['APPLICATION_TYPE'].value_counts()

T3       27037
T4        1542
T6        1216
T5        1173
T19       1065
T8         737
T7         725
T10        528
Other      276
Name: APPLICATION_TYPE, dtype: int64

In [7]:
# Look at CLASSIFICATION value counts for binning
counts_class = application_df.value_counts(application_df.CLASSIFICATION)
counts_class

CLASSIFICATION
C1000    17326
C2000     6074
C1200     4837
C3000     1918
C2100     1883
         ...
C2190        1
C2380        1
C2500        1
C2561        1
C8210        1
Length: 71, dtype: int64

In [8]:
# You may find it helpful to look at CLASSIFICATION value counts >1
counts_one = counts_class[counts_class >1]
counts_one

CLASSIFICATION
C1000    17326
C2000     6074
C1200     4837
C3000     1918
C2100     1883
C7000      777
C1700      287
C4000      194
C5000      116
C1270      114
C2700      104
C2800       95
C7100       75
C1300       58
C1280       50
C1230       36
C1400       34
C2300       32
C7200       32
C1240       30
C8000       20
C7120       18
C1500       16
C1800       15
C6000       15
C1250       14
C8200       11
C1278       10
C1238       10
C1235        9
C1237        9
C7210        7
C1720        6
C4100        6
C2400        6
C1600        5
C1257        5
C2710        3
C1260        3
C0           3
C1267        2
C1246        2
C1256        2
C3200        2
C1234        2
dtype: int64

In [9]:
# Choose a cutoff value and create a list of classifications to be replaced
# use the variable name `classifications_to_replace`
classifications_to_replace = list(counts_one[counts_one<1000].index)

# Replace in dataframe
for cls in classifications_to_replace:
    application_df['CLASSIFICATION'] = application_df['CLASSIFICATION'].replace(cls,"Other")
    
# Check to make sure binning was successful
application_df['CLASSIFICATION'].value_counts()

C1000    17326
C2000     6074
C1200     4837
Other     2235
C3000     1918
C2100     1883
C1370        1
C1236        1
C2190        1
C4200        1
C5200        1
C1248        1
C2600        1
C1580        1
C6100        1
C1820        1
C1900        1
C2570        1
C1570        1
C3700        1
C2500        1
C1283        1
C2380        1
C1732        1
C1728        1
C2170        1
C4120        1
C8210        1
C4500        1
C1245        1
C2561        1
C2150        1
Name: CLASSIFICATION, dtype: int64

In [11]:
# Convert categorical data to numeric with `pd.get_dummies`
application_df_dummies = pd.get_dummies(application_df,dtype=float)
application_df_dummies.head()

,EIN,STATUS,ASK_AMT,IS_SUCCESSFUL,NAME_1 DAY RANCH RESCUE AND RURAL OKLAHOMA ANIMAL RESOURCE INC,NAME_100 BLACK MEN OF AMERICA,NAME_100 BLACK MEN OF MEMPHIS INC,NAME_100 BLACK MEN OF WEST GEORGIA INC,NAME_1150 WEBSTER STREET INC,NAME_116TH CAVALRY REGIMENT CHAPTER OF THE US CAVALRY & ARMOR ASSOCIATION,...,INCOME_AMT_1-9999,INCOME_AMT_10000-24999,INCOME_AMT_100000-499999,INCOME_AMT_10M-50M,INCOME_AMT_1M-5M,INCOME_AMT_25000-99999,INCOME_AMT_50M+,INCOME_AMT_5M-10M,SPECIAL_CONSIDERATIONS_N,SPECIAL_CONSIDERATIONS_Y
0,10520599,1,5000,1,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
1,10531628,1,108590,1,0.0,0.0,0.0,0.0,0.0,0.0,...,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
2,10547893,1,5000,0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
3,10553066,1,6692,1,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
4,10556103,1,142590,1,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0

In [12]:
# Split our preprocessed data into our features and target arrays
y = application_df_dummies['IS_SUCCESSFUL'].values
X = application_df_dummies.drop('IS_SUCCESSFUL', axis=1).values

# Split the preprocessed data into a training and testing dataset
X_train, X_test, y_train, y_test = train_test_split(X, y, random_state=1)

In [18]:
# Create a StandardScaler instances
scaler = StandardScaler()

# Fit the StandardScaler
X_scaler = scaler.fit(X_train)

# Scale the data
X_train_scaled = X_scaler.transform(X_train)
X_test_scaled = X_scaler.transform(X_test)

## Compile, Train and Evaluate the Model

In [28]:
# Define the model - deep neural net, i.e., the number of input features and hidden nodes for each layer.
number_input_features = len( X_train_scaled[0])

nn = tf.keras.models.Sequential()

# First hidden layer
nn.add(tf.keras.layers.Dense(units=80, activation="relu", input_dim= number_input_features))

# Second hidden layer
nn.add(tf.keras.layers.Dense(units=30, activation="relu"))

# Output layer
nn.add(tf.keras.layers.Dense(units=1, activation="sigmoid"))

# Check the structure of the model
nn.summary()

Model: "sequential_6"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 dense_15 (Dense)            (None, 80)                1571120

 dense_16 (Dense)            (None, 30)                2430

 dense_17 (Dense)            (None, 1)                 31

=================================================================
Total params: 1573581 (6.00 MB)
Trainable params: 1573581 (6.00 MB)
Non-trainable params: 0 (0.00 Byte)
_________________________________________________________________

In [29]:
# Compile the model
nn.compile(loss="binary_crossentropy", optimizer="adam", metrics=["accuracy"])

In [30]:
# Train the model
fit_model = nn.fit(X_train_scaled, y_train, epochs=100)

Epoch 1/100
804/804 [==============================] - 13s 15ms/step - loss: 0.4970 - accuracy: 0.7625
Epoch 2/100
804/804 [==============================] - 12s 15ms/step - loss: 0.1209 - accuracy: 0.9553
Epoch 3/100
804/804 [==============================] - 12s 15ms/step - loss: 0.0979 - accuracy: 0.9603
Epoch 4/100
804/804 [==============================] - 13s 16ms/step - loss: 0.0945 - accuracy: 0.9612
Epoch 5/100
804/804 [==============================] - 13s 16ms/step - loss: 0.0934 - accuracy: 0.9624
Epoch 6/100
804/804 [==============================] - 14s 17ms/step - loss: 0.0925 - accuracy: 0.9624
Epoch 7/100
804/804 [==============================] - 13s 16ms/step - loss: 0.0915 - accuracy: 0.9621
Epoch 8/100
804/804 [==============================] - 12s 15ms/step - loss: 0.0908 - accuracy: 0.9626
Epoch 9/100
804/804 [==============================] - 13s 17ms/step - loss: 0.0904 - accuracy: 0.9629
Epoch 10/100
804/804 [==============================] - 13s 16ms/step - loss: 0.0895 - accuracy: 0.9634
Epoch 11/100
804/804 [==============================] - 14s 17ms/step - loss: 0.0888 - accuracy: 0.9633
Epoch 12/100
804/804 [==============================] - 13s 16ms/step - loss: 0.0883 - accuracy: 0.9635
Epoch 13/100
804/804 [==============================] - 13s 16ms/step - loss: 0.0871 - accuracy: 0.9634
Epoch 14/100
804/804 [==============================] - 14s 17ms/step - loss: 0.0876 - accuracy: 0.9634
Epoch 15/100
804/804 [==============================] - 14s 17ms/step - loss: 0.0865 - accuracy: 0.9634
Epoch 16/100
804/804 [==============================] - 13s 16ms/step - loss: 0.0865 - accuracy: 0.9649
Epoch 17/100
804/804 [==============================] - 14s 17ms/step - loss: 0.0858 - accuracy: 0.9645
Epoch 18/100
804/804 [==============================] - 14s 17ms/step - loss: 0.0851 - accuracy: 0.9648
Epoch 19/100
804/804 [==============================] - 13s 16ms/step - loss: 0.0851 - accuracy: 0.9647
Epoch 20/100
804/804 [==============================] - 13s 17ms/step - loss: 0.0846 - accuracy: 0.9652
Epoch 21/100
804/804 [==============================] - 14s 17ms/step - loss: 0.0838 - accuracy: 0.9659
Epoch 22/100
804/804 [==============================] - 13s 16ms/step - loss: 0.0831 - accuracy: 0.9658
Epoch 23/100
804/804 [==============================] - 14s 17ms/step - loss: 0.0830 - accuracy: 0.9656
Epoch 24/100
804/804 [==============================] - 14s 17ms/step - loss: 0.0826 - accuracy: 0.9660
Epoch 25/100
804/804 [==============================] - 13s 17ms/step - loss: 0.0820 - accuracy: 0.9661
Epoch 26/100
804/804 [==============================] - 13s 17ms/step - loss: 0.0818 - accuracy: 0.9659
Epoch 27/100
804/804 [==============================] - 14s 17ms/step - loss: 0.0808 - accuracy: 0.9669
Epoch 28/100
804/804 [==============================] - 14s 17ms/step - loss: 0.0806 - accuracy: 0.9668
Epoch 29/100
804/804 [==============================] - 16s 20ms/step - loss: 0.0806 - accuracy: 0.9671
Epoch 30/100
804/804 [==============================] - 16s 20ms/step - loss: 0.0798 - accuracy: 0.9666
Epoch 31/100
804/804 [==============================] - 17s 21ms/step - loss: 0.0798 - accuracy: 0.9667
Epoch 32/100
804/804 [==============================] - 17s 21ms/step - loss: 0.0787 - accuracy: 0.9668
Epoch 33/100
804/804 [==============================] - 17s 21ms/step - loss: 0.0784 - accuracy: 0.9672
Epoch 34/100
804/804 [==============================] - 16s 20ms/step - loss: 0.0780 - accuracy: 0.9680
Epoch 35/100
804/804 [==============================] - 17s 21ms/step - loss: 0.0781 - accuracy: 0.9682
Epoch 36/100
804/804 [==============================] - 16s 21ms/step - loss: 0.0776 - accuracy: 0.9684
Epoch 37/100
804/804 [==============================] - 18s 22ms/step - loss: 0.0771 - accuracy: 0.9684
Epoch 38/100
804/804 [==============================] - 17s 21ms/step - loss: 0.0769 - accuracy: 0.9685
Epoch 39/100
804/804 [==============================] - 18s 22ms/step - loss: 0.0762 - accuracy: 0.9688
Epoch 40/100
804/804 [==============================] - 18s 22ms/step - loss: 0.0766 - accuracy: 0.9683
Epoch 41/100
804/804 [==============================] - 17s 21ms/step - loss: 0.0761 - accuracy: 0.9687
Epoch 42/100
804/804 [==============================] - 17s 21ms/step - loss: 0.0761 - accuracy: 0.9684
Epoch 43/100
804/804 [==============================] - 17s 21ms/step - loss: 0.0752 - accuracy: 0.9692
Epoch 44/100
804/804 [==============================] - 17s 21ms/step - loss: 0.0750 - accuracy: 0.9694
Epoch 45/100
804/804 [==============================] - 17s 21ms/step - loss: 0.0751 - accuracy: 0.9689
Epoch 46/100
804/804 [==============================] - 17s 21ms/step - loss: 0.0743 - accuracy: 0.9693
Epoch 47/100
804/804 [==============================] - 17s 21ms/step - loss: 0.0745 - accuracy: 0.9695
Epoch 48/100
804/804 [==============================] - 13s 17ms/step - loss: 0.0743 - accuracy: 0.9694
Epoch 49/100
804/804 [==============================] - 13s 16ms/step - loss: 0.0738 - accuracy: 0.9696
Epoch 50/100
804/804 [==============================] - 13s 16ms/step - loss: 0.0732 - accuracy: 0.9700
Epoch 51/100
804/804 [==============================] - 13s 17ms/step - loss: 0.0736 - accuracy: 0.9701
Epoch 52/100
804/804 [==============================] - 13s 16ms/step - loss: 0.0731 - accuracy: 0.9694
Epoch 53/100
804/804 [==============================] - 13s 16ms/step - loss: 0.0727 - accuracy: 0.9700
Epoch 54/100
804/804 [==============================] - 13s 16ms/step - loss: 0.0727 - accuracy: 0.9698
Epoch 55/100
804/804 [==============================] - 13s 16ms/step - loss: 0.0731 - accuracy: 0.9698
Epoch 56/100
804/804 [==============================] - 13s 16ms/step - loss: 0.0720 - accuracy: 0.9700
Epoch 57/100
804/804 [==============================] - 13s 16ms/step - loss: 0.0722 - accuracy: 0.9701
Epoch 58/100
804/804 [==============================] - 13s 17ms/step - loss: 0.0717 - accuracy: 0.9708
Epoch 59/100
804/804 [==============================] - 13s 17ms/step - loss: 0.0719 - accuracy: 0.9706
Epoch 60/100
804/804 [==============================] - 13s 17ms/step - loss: 0.0718 - accuracy: 0.9696
Epoch 61/100
804/804 [==============================] - 13s 16ms/step - loss: 0.0715 - accuracy: 0.9702
Epoch 62/100
804/804 [==============================] - 13s 16ms/step - loss: 0.0712 - accuracy: 0.9701
Epoch 63/100
804/804 [==============================] - 13s 17ms/step - loss: 0.0708 - accuracy: 0.9702
Epoch 64/100
804/804 [==============================] - 13s 17ms/step - loss: 0.0714 - accuracy: 0.9708
Epoch 65/100
804/804 [==============================] - 13s 16ms/step - loss: 0.0706 - accuracy: 0.9708
Epoch 66/100
804/804 [==============================] - 13s 16ms/step - loss: 0.0710 - accuracy: 0.9710
Epoch 67/100
804/804 [==============================] - 13s 17ms/step - loss: 0.0708 - accuracy: 0.9704
Epoch 68/100
804/804 [==============================] - 13s 16ms/step - loss: 0.0704 - accuracy: 0.9702
Epoch 69/100
804/804 [==============================] - 14s 17ms/step - loss: 0.0705 - accuracy: 0.9710
Epoch 70/100
804/804 [==============================] - 13s 16ms/step - loss: 0.0702 - accuracy: 0.9708
Epoch 71/100
804/804 [==============================] - 13s 16ms/step - loss: 0.0703 - accuracy: 0.9711
Epoch 72/100
804/804 [==============================] - 13s 16ms/step - loss: 0.0702 - accuracy: 0.9711
Epoch 73/100
804/804 [==============================] - 13s 17ms/step - loss: 0.0699 - accuracy: 0.9709
Epoch 74/100
804/804 [==============================] - 13s 16ms/step - loss: 0.0700 - accuracy: 0.9707
Epoch 75/100
804/804 [==============================] - 13s 16ms/step - loss: 0.0700 - accuracy: 0.9713
Epoch 76/100
804/804 [==============================] - 13s 16ms/step - loss: 0.0697 - accuracy: 0.9706
Epoch 77/100
804/804 [==============================] - 13s 16ms/step - loss: 0.0689 - accuracy: 0.9710
Epoch 78/100
804/804 [==============================] - 13s 17ms/step - loss: 0.0698 - accuracy: 0.9714
Epoch 79/100
804/804 [==============================] - 13s 17ms/step - loss: 0.0692 - accuracy: 0.9715
Epoch 80/100
804/804 [==============================] - 13s 16ms/step - loss: 0.0690 - accuracy: 0.9713
Epoch 81/100
804/804 [==============================] - 13s 16ms/step - loss: 0.0688 - accuracy: 0.9711
Epoch 82/100
804/804 [==============================] - 14s 17ms/step - loss: 0.0684 - accuracy: 0.9716
Epoch 83/100
804/804 [==============================] - 13s 16ms/step - loss: 0.0694 - accuracy: 0.9710
Epoch 84/100
804/804 [==============================] - 13s 16ms/step - loss: 0.0686 - accuracy: 0.9715
Epoch 85/100
804/804 [==============================] - 13s 16ms/step - loss: 0.0683 - accuracy: 0.9717
Epoch 86/100
804/804 [==============================] - 14s 17ms/step - loss: 0.0685 - accuracy: 0.9719
Epoch 87/100
804/804 [==============================] - 14s 17ms/step - loss: 0.0688 - accuracy: 0.9721
Epoch 88/100
804/804 [==============================] - 13s 17ms/step - loss: 0.0682 - accuracy: 0.9715
Epoch 89/100
804/804 [==============================] - 13s 16ms/step - loss: 0.0682 - accuracy: 0.9719
Epoch 90/100
804/804 [==============================] - 13s 17ms/step - loss: 0.0684 - accuracy: 0.9722
Epoch 91/100
804/804 [==============================] - 13s 16ms/step - loss: 0.0679 - accuracy: 0.9718
Epoch 92/100
804/804 [==============================] - 13s 17ms/step - loss: 0.0678 - accuracy: 0.9721
Epoch 93/100
804/804 [==============================] - 13s 16ms/step - loss: 0.0680 - accuracy: 0.9717
Epoch 94/100
804/804 [==============================] - 13s 16ms/step - loss: 0.0678 - accuracy: 0.9709
Epoch 95/100
804/804 [==============================] - 13s 16ms/step - loss: 0.0680 - accuracy: 0.9720
Epoch 96/100
804/804 [==============================] - 13s 16ms/step - loss: 0.0674 - accuracy: 0.9723
Epoch 97/100
804/804 [==============================] - 13s 17ms/step - loss: 0.0675 - accuracy: 0.9720
Epoch 98/100
804/804 [==============================] - 13s 16ms/step - loss: 0.0672 - accuracy: 0.9722
Epoch 99/100
804/804 [==============================] - 13s 16ms/step - loss: 0.0678 - accuracy: 0.9716
Epoch 100/100
804/804 [==============================] - 13s 17ms/step - loss: 0.0671 - accuracy: 0.9717

In [31]:
# Evaluate the model using the test data
model_loss, model_accuracy = nn.evaluate(X_test_scaled,y_test,verbose=2)
print(f"Loss: {model_loss}, Accuracy: {model_accuracy}")

268/268 - 1s - loss: 1.1321 - accuracy: 0.6222 - 982ms/epoch - 4ms/step
Loss: 1.1321423053741455, Accuracy: 0.6221574544906616

In [34]:
# Export our model to HDF5 file
nn.save_weights('AlphabetSoupCharity.h5')